{% extends "home/main.html" %}
{% csrf_token %}
{% block content %}

    <h1>Lista de temas cadastrados</h1>
    <a href="{% url 'laco:all' %}">Lista de Laços Cadastrados</a>
    <ul>
        {% for tema in tema_list %}
        <li>Preço:{{ tema }} (
            <a href="{% url 'laco:tema_update' tema.id %}">Update</a>|
            <a href="{% url 'laco:tema_delete' tema.id %}">Delete</a>)</li>
        {% empty %}
        <li>Ainda não há temas cadastrados</li>
        {% endfor %}
    </ul>


{% endblock %}